.contato-form {
  margin-top: 24px;
}

.contato-form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contato-form > div + div {
  margin-top: 16px;
}

.contato-form > div:last-of-type {
  align-items: flex-end;
}

.contato-form input {
  height: 35px;
}

.contato-form input,
.contato-form textarea {
  border: 1px solid #3C64B1;
  border-radius: 4px;
  resize: none;
  padding-left: 10px;
  width: 100%;
}

.contato-section {
  margin-top: 100px;
}

.btn--primary {
  margin-left: 0;
}

.contato-title {
  color: #373F41;
  font-size: 26px;
  margin: 0;
  text-align: center;
}