@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --bgColor: #000000;
  --txtColor: #2f80ed;
  --titleColor: rgba(0, 0, 255, 0.835);
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}
.pageContent {
  width: 100%;
  height: 100%;
  background-image: url('../images/landingImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.pageCover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.mainMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: flex-end;
}
p {
  font-size: xx-large;
}
a {
  text-decoration: none;
}

.navbar {
  background-color: #f2f5fd !important;
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 1;
}

.nav-item.active {
  font-weight: bold;
}

.nav-item + .nav-item {
  margin-left: 16px;
}

.banner-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.btn--primary {
  background-color: #3C64B1;
  color: white;
  border-radius: 0;
  margin-left: 20px;
}

.btn--secondary {
  color: #3C64B1;
  background-color: white;
  border-radius: 0;
  margin-left: 20px;
}

.btn--primary:hover {
  background-color: #4770c0;
  color: white;
}

.btn--search {
  color: #3C64B1;
}

.btn--search:hover {
  color: #4770c0;
}

.main-bg {
  height: 100%;
  width: 100%;
  max-height: 660px;
}

.main-bg__image {
  position: relative;
  z-index: -1;
}

.main-bg__image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 660px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.main-bg img {
  position: absolute;
  left: 0;
  top: 0;
  height: 660px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

figure {
  margin: 0;
}

.banner__wrapper {
  height: 100%;
}

.banner__title {
  color: white;
  font-size: 44px;
  margin: 0;
  text-align: center;
}

.banner__subtitle {
  color: white;
  font-size: 16px;
  margin-top: 32px;
  text-align: center;
}

.banner__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 770px;
  height: 100%;
}

#list{
  margin-top: 5em;
}
#listUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.card-li {
  background-color: white;
  color: #1d1111;
  text-decoration: none;
  list-style: none;
  flex: 1 0 20%;
  margin: 1em;
  /* height: 15em; */
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  padding: 1em;
  display: inline-grid;
}

.card-li h1 {
  font-size: 1.3em;
}
.card-li h2 {
  font-size: 1em;
}

.card-li h3 span {
  color: #3c64b1;
  font-weight: bolder;
}

.card-li h3 {
  font-size: 1em;
}

.link-site {
  color: #d6d6d6;
  background-color: #3c64b1;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  width: 100%;
  height: 2em;
  text-align: center;
  padding-top: 4px;
  margin-top: 8px;
}

.link-site:hover {
  color: white;
  background-color: #3f51b5;
  text-decoration: none;
}

.btn--search {
  color: #3C64B1;
}

.btn--search:hover {
  color: #4770c0;
}

footer {
  margin-top: 60px;
  border-top: 1px solid #e7e7e7;
  padding: 20px;
}

footer > div {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
    padding-top: 0px;
    width: 100%;
    height: 100%;
}
  h1,
  h2,
  h3 {
    margin-left: 0;
    text-align: center;
  }
  .landingPage {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .mainMenu {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
  }
  p {
    margin: 0.5em;
  }
  .pageContent {
    width: 100%;
    height: 100%;
    background-image: url('../images/landingImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
  }
  .pageCover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 0;
  }

  .footer {
    height: 8em;
    margin-top: 2em;
    background-color: var(--bgColor);
  }
  .menuOptions {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 78%;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
  }
  .navbar {
    background-color: #f2f5fd !important;
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    width: auto;
  }
  .card-li {
    background-color: white;
    color: #1d1111;
    text-decoration: none;
    list-style: none;
    flex: 1 0 91%;
    margin: 1em;
    /* height: 15em; */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1em;
    display: inline-grid;
}
}
