@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --bgColor: #000000;
  --txtColor: #2f80ed;
}

body {
  background-color: var(--bgColor);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
header img {
  width: 15em;
  height: 12em;
  margin: 1em 0.6em;
}

label {
  color: var(--txtColor);
}
label#phoneNumber {
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0.8em;
  margin-left: 0.8em;
  z-index: 1;
}
label#email {
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 4.3em;
  margin-left: 0.8em;
  z-index: 1;
}
div.infoData {
  display: flex;
  flex-direction: column;
}
input[type='text']#phoneNumber {
  position: absolute;
  height: 2.5em;
  width: 18em;
  margin: 10px 4px;
  background-color: var(--bgColor);
  border-bottom: 0.3em solid var(--txtColor);
  color: #ffffff;
  text-align: center;
}
a {
  text-decoration: none;
}
.infoData h3 {
  color: var(--txtColor);
  position: absolute;
  height: 1em;
  width: 15em;
  margin: 30px auto;
  font-family: Robot;
  font-size: 1em;
  text-align: center;
  font-weight: bolder;
}

input[type='text']#email {
  position: absolute;
  height: 2.5em;
  width: 18em;
  margin: 50px 4px;
  background-color: var(--bgColor);
  border-bottom: 0.3em solid var(--txtColor);
  color: #ffffff;
  text-align: center;
}
div.buttons {
  display: flex;
  flex-direction: column;
  width: 16em;
}
button {
  height: 3em;
  margin-top: 5em;
  margin-bottom: 1em;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
}
button.enter {
  background-color: var(--txtColor);
}

button.enter:hover {
  cursor: pointer;
}
@media (min-width: 252px) {
  .mainPage {
    margin-top: 100px;
    margin-left: 100px;
    z-index: 2;
  }
  .pageContent {
    margin: 0;
    padding: 0;
    background-image: url('../images/backgroungImage.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120%;
    z-index: -2;
  }
  .pageName {
    background-image: url('https://fontmeme.com/permalink/201203/ae7cb76652c62690735baa1532cec06c.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .pageCover {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }
}
