<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Projeto Integrador para o curso de Front End da Digital House">
        <meta name="author" content="Giselli Hara">>
        <title>Cadastro</title>
       
        <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../sign-in.css" rel="stylesheet">
    </head>
    <body class="text-center">
        <form class="form-signin">
            <img class="mb-4" src="../diploma.PNG" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Novo cadastro</h1>
            <input type="text" id="nome" class="form-control" placeholder="Nome Completo" required>
            <input type="text" id="usuario" class="form-control" placeholder="Usuário" required>
            <input type="email" id="email" class="form-control" placeholder="E-mail" required>
            <input type="password" id="senha" class="form-control" placeholder="Senha" required>
            <input type="password" id="confirmaSenha" class="form-control" placeholder="Confirmar Senha" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
            <p class="mt-5 mb-3 text-muted"></p>
        </form>
       
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/popper.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
