body {
  font-family: "Mulish", sans-serif;
  background-color: #f9f9f9;
}

.navbar {
  background-color: #f2f5fd !important;
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 99;
}

.nav-item.active {
  font-weight: bold;
}

.nav-item + .nav-item {
  margin-left: 16px;
}

.banner-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.btn--primary {
  background-color: #3c64b1;
  color: white;
  border-radius: 0;
  margin-left: 20px;
}

.btn--secondary {
  color: #3c64b1;
  background-color: white;
  border-radius: 0;
  margin-left: 20px;
}

.btn--primary:hover {
  background-color: #4770c0;
  color: white;
}

.btn--search {
  color: #3c64b1;
}

.btn--search:hover {
  color: #4770c0;
}

#list {
  margin-top: 5em;
}
#listUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0px;
}

.card-li {
  background-color: white;
  color: #1d1111;
  text-decoration: none;
  list-style: none;
  flex: 1 0 30%;
  margin: 1em;
  /* height: 15em; */
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1em;
  display: inline-grid;
}

.card-li h1 {
  font-size: 1.3em;
}
.card-li h2 {
  font-size: 1em;
}

.card-li h3 span {
  color: #3c64b1;
  font-weight: bolder;
}

.card-li h3 {
  font-size: 1em;
}

.link-site {
  color: #d6d6d6;
  background-color: #3c64b1;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  width: 100%;
  height: 2em;
  text-align: center;
  padding-top: 4px;
}

.link-site:hover {
  color: white;
  background-color: #3f51b5;
  text-decoration: none;
}

.solid {
  border-top: 1px solid #bbb;
  margin: 10px 0px 10px 0px;
}

.pag-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.pag-ul {
  flex: 1 0 20%;
  margin: 1em;
  align-items: center;
  justify-content: center;
}

a#pagePrev {
  background-color: #3c64b1;
  color: white;
  border-radius: 0.3em;
}

a#pageNext {
  background-color: #3c64b1;
  color: white;
  border-radius: 0.3em;
}

#pageIn {
  padding: 0 10px;
}


@media only screen and (max-width: 600px) {
  .card-li {
    background-color: white;
    color: #1d1111;
    text-decoration: none;
    list-style: none;
    flex: 1 0 91%;
    margin: 1em;
    /* height: 15em; */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1em;
    display: inline-grid;
}

.navbar {
  background-color: #f2f5fd !important;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  width: auto;
}
}